schemas/20_1_schemas/IATA_InvGuaranteeRS.xsd

<?xml version="1.0"?>
<xs:schema xmlns="http://www.iata.org/IATA/2015/00/2020.1/IATA_InvGuaranteeRS" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2015/00/2020.1/IATA_InvGuaranteeRS" elementFormDefault="qualified" version="9.000" id="IATA2020.1">
	<xs:element name="IATA_InvGuaranteeRS">
		<xs:annotation>
			<xs:documentation>The InventoryGuarantee transaction set requests that inventory is guaranteed for specified Offers, pending their conversion into a completed Order.

The response returns an indication if the inventory has been guaranteed, and if so, the associated inventory guarantee time limit and a unique inventory guarantee reference ID.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="Error" type="ErrorType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Contains information related to errors detected during processing of the preceding request.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Response" type="ResponseType">
						<xs:annotation>
							<xs:documentation>Query results</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="AugmentationPoint" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Implementer-Augmented Structure.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:any namespace="##other" processContents="lax" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation source="description" xml:lang="en">Implementer-Augmented Structure.</xs:documentation>
								</xs:annotation>
							</xs:any>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MessageDoc" type="MessageDocType" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Message document information including document name and version number.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PayloadAttributes" type="IATA_PayloadStandardAttributesType" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>IATA standard payload attributes</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="AirlineDesigCodeContentType">
		<xs:annotation>
			<xs:documentation>The codelist contents of IATA Resolution 762 airline codes, or of ICAO airline codes. {codeListAgencyName}IATA or ICAO{/codeListAgencyName} {codeListName}Resolution 762  Airline Codes or ICAO Airline Codes{/codeListName}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="([A-Z]{3}|[A-Z]{2})|([0-9][A-Z])|([A-Z][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirlineDesigCodeType">
		<xs:annotation>
			<xs:documentation>Either the IATA-defined 2-character code or the ICAO-defined 3-character code of an airline, as per the length of the value.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AirlineDesigCodeContentType"/>
	</xs:simpleType>
	<xs:complexType name="AmountType">
		<xs:annotation>
			<xs:documentation>An amount is a number of monetary units specified in a currency.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="CurCode" type="xs:token" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AssociationsType">
		<xs:annotation>
			<xs:documentation>Guaranteed inventory associations.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Offer" type="OfferType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A proposal to sell a specific set of products or Services under specific conditions, for a certain price. Can be the response to a shopping request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Order" type="OrderType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A uniquely identified record of the agreement of one party with another to receive products and services under specified terms and conditions. Order supports the sale of a flexible range of airline products and services that are not necessarily Journey based (e.g. subscription services).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShoppingResponse" type="ShoppingResponseType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Facilitates the tracking of what was Offered and contains an identifier unique to the source Airline for a set of product Offers returned in response to a shopping request.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BinaryObjectType">
		<xs:annotation>
			<xs:documentation>A binary object is a sequence of binary digits (bits).</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="CharacterSetCode" type="xs:token" use="optional"/>
				<xs:attribute name="EncodingCode" type="xs:token" use="optional"/>
				<xs:attribute name="FileName" type="xs:token" use="optional"/>
				<xs:attribute name="Format" type="xs:string" use="optional"/>
				<xs:attribute name="MIME_Code" type="xs:token" use="optional"/>
				<xs:attribute name="UniformResourceID" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CodeType">
		<xs:annotation>
			<xs:documentation>A code is a character string of letters, numbers, special characters (except escape sequences), and symbols.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="CurAppCodeContentType">
		<xs:annotation>
			<xs:documentation>Currency Application Code enumeration information.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Actual"/>
			<xs:enumeration value="Conversion"/>
			<xs:enumeration value="Display"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="Requested"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurAppCodeType">
		<xs:annotation>
			<xs:documentation>Additional BDT to specify the currency code application. Examples: Actual, Display, Requested, Conversion, Other .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CurAppCodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="CurCodeContentType">
		<xs:annotation>
			<xs:documentation>Currency Code enumeration information. {codeListAgencyName}ISO{/codeListAgencyName} {codeListIdentifier}4217{/codeListIdentifier}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CurCodeType">
		<xs:annotation>
			<xs:documentation>Additional BDT to specify a currency code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CurCodeContentType"/>
	</xs:simpleType>
	<xs:complexType name="CurParameterType">
		<xs:annotation>
			<xs:documentation>Currency related parameters intended to influence which currency the shopping results are displayed in.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AppCode" type="CurAppCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency code application. Examples: Actual, Display, Requested, Conversion, Other</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="CurCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency Code as per ISO 4217.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecimalsAllowedNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies how many numbers to be specified after the decimal in case of currency amounts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency name, e.g. US Dollars.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateTimeType">
		<xs:annotation>
			<xs:documentation>A date time identifies a date and time of day to various common resolutions: year, month, week, day, hour, minute, second, and fraction of second.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:dateTime">
				<xs:attribute name="TimeZoneCode" type="xs:token" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DescType">
		<xs:annotation>
			<xs:documentation>An account or representation of the certain or major aspects, characteristics, or features of a person, object, or event.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CategorizationText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This will contain at present an  undefined list of informational types. E,G  passport and visa information Airport information Airline information General travel. etc,</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description text value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarkupStyleText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mark-up Style of the Description Text. Example: HTML</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MediaObject" type="MediaObjectType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Electronic documents, images, and other files which accompany and support some information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="URI_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>URL to description information source.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation>Contains information related to errors detected during processing of the preceding request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The code corresponding to the processing error as defined by PADIS 9321.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Free text description of the provided error.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique identifier for this error instance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LangCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Language code associated with the error response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerName" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the organization owning the error codelist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Document processing status. Recommended values are NotProcessed, Incomplete, Complete, Unknown.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TagText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the tag/XPath which relates to the provided Error.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uses a bilaterally agreed set of values to indicate the error type. The validating XSD can expect to accept values that it has not been explicitly coded for and process them by using Type = 'unknown'.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="URI_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Link to an online description of the provided Error.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IATA_PayloadStandardAttributesType">
		<xs:annotation>
			<xs:documentation>The IATA_PayloadStdAttributes defines the standard attributes that appear on the root element for all IATA payloads.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AltLangID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorrelationID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Allow end-to-end correlation of log messages with the corresponding Web service message throughout the processing of the Web service message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EchoTokenText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrimaryLangID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifes the primary language preference for the message. The human language is identified by ISO 639 codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetransmissionInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to true) only when a message is retransmitted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeqNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Timestamp" type="DateTimeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates the creation date and time of the message in UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrxID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrxStatusCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This indicates where this message falls within a sequence of messages.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VersionNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>For all IATA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ID_Type">
		<xs:annotation>
			<xs:documentation>An identifier is a character string used to uniquely identify one instance of an object within an identification scheme that is managed by an agency.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="IndType">
		<xs:annotation>
			<xs:documentation>An indicator is a list of two mutually exclusive Boolean values that express the only possible states of a property.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="InventoryGuaranteeProcessingType">
		<xs:annotation>
			<xs:documentation>Transaction Processing Results, including processing status, business warnings, supplemental marketing messages and/ or additional information required to complete a transaction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurParameter" type="CurParameterType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Currency related parameters intended to influence which currency the shopping results are displayed in.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Policy" type="PolicyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Message policy information, including PCI, PII information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remark" type="RemarkType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional, supplementary information about the document or service.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InventoryGuaranteeType">
		<xs:annotation>
			<xs:documentation>Identification and time limit information for holding inventory in an Offer or Order.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amount" type="AmountType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount applicable to the inventory guarantee.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Associations" type="AssociationsType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Guaranteed inventory associations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InventoryGuaranteeID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique Inventory Guarantee ID. Examples: INVREF123456, 68E0-675C Note: This is a unique identifier issued by an Airline to reference that inventory for a specified offer will be guaranteed as available for a period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InventoryGuaranteeTimeLimitDateTime" type="DateTimeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Time limit by which guaranteed inventory for a specified product offer is guaranteed as available and by which the inventory held must be converted into a completed order before the time limit expires otherwise the guarantee is lost.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoGuaranteeInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>When TRUE, no inventory could be guaranteed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaitListInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>When TRUE, the inventory was waitlisted.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="LangCodeContentType">
		<xs:annotation>
			<xs:documentation> {codeListAgencyName}ISO{/codeListAgencyName} {codeListName}Language Code{/codeListName} {codeListIdentifier}6392{/codeListIdentifier}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="LangCodeType">
		<xs:annotation>
			<xs:documentation>BDT to represent ISO language code list.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="LangCodeContentType"/>
	</xs:simpleType>
	<xs:complexType name="LangUsageType">
		<xs:annotation>
			<xs:documentation>Language Code representation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LangCode" type="LangCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Language Code representation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LangUsageText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Written or Spoken language.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MeasureType">
		<xs:annotation>
			<xs:documentation>A measure is a numeric value determined by measuring an object along with the specified unit of measure.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="UnitCode" type="xs:token" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MediaObjectType">
		<xs:annotation>
			<xs:documentation>Electronic documents, images, and other files which accompany and support some information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BinaryObject" type="BinaryObjectType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Binary Object Information. Supplementary attributes include character set code, MIME code, encoding information, file name, format, and URI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of the referenced media.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FileSizeMeasure" type="MeasureType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The size of the Attachment in kilobytes (KB). Example: 60</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HeightMeasure" type="MeasureType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Media (typically Image) height in specified units.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HintText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Media object tip which is typically used in a client GUI (a mouseover tip). Example: Envoy Class Seat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MediaID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely Identifies a Media file within the context of one message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RenderingInstructionsText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Rendering Instruction Parameters. Notes: This is typically used for XSLT.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RenderingMethodText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Rendering Method name. E.g. Narrative, XSLT, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RenderingOutputFormatText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An identifier for a file format or content type of the rendered output.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RenderingOverviewText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An overview of the rendering method or style.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WidthMeasure" type="MeasureType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Media (typically Image) width in specified units.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageDocType">
		<xs:annotation>
			<xs:documentation>NDC Message Document information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Implementation Name. Example: ThisAirline Gateway</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefVersionNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Framework Version. Example: SOAP 2015.1</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NameType">
		<xs:annotation>
			<xs:documentation>A name is a word or phrase that constitutes the distinctive designation of a person, place, thing or concept</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="NumberType">
		<xs:annotation>
			<xs:documentation>A mathematical number that is assigned or is determined by calculation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:complexType name="OfferItemType">
		<xs:annotation>
			<xs:documentation>A priced grouping of one or more services within an Offer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OfferItemID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Carrier assigned ID which exists uniquely within an Offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfferItemTypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specify the type of Offer Item being presented to the Customer.    Using new  PADIS codeset -initial content -RET - Retail -WHO - Wholesale -COR - Corporate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerCode" type="AirlineDesigCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerTypeCode" type="OwnerTypeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether or not the owner is the ORA or POA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriceGuaranteeTimeLimitDateTime" type="DateTimeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The length of time the price of an offer item is guaranteed. In the absence of the price guarantee time limit, the price is not guaranteed. Upon expiry, the price may no longer be guaranteed and either a new shopping process should begin, or the offer should be repriced resulting in a new Offer.   Should the price guarantee time limit extend beyond Order creation (or change), the remaining length of time persists into the corresponding Order Item. At Order creation (or change) the airline can increase the remaining length of time beyond the original time limit should they wish to.  Note: Where a price guarantee time limit is applied, there is no guarantee that related inventory is guaranteed by the airline.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Service" type="ServiceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The instance of a specific flight or Service Definition as it has been offered (and eventually ordered and consumed) in the context of a specific Offer and/or Order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebAddressURL" type="URI_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Deep linking into another site to complete the transaction. E.g. to bring the customer directly to a page to continue with a purchase of a specific offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OfferType">
		<xs:annotation>
			<xs:documentation>A proposal to sell a specific set of products or Services under specific conditions, for a certain price. Can be the response to a shopping request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OfferID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Carrier assigned ID which uniquely identifies a specific Offer across several messages.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfferItem" type="OfferItemType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A priced grouping of one or more services within an Offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerCode" type="AirlineDesigCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerTypeCode" type="OwnerTypeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether or not the owner of this Order is the ORA or POA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebAddressURL" type="URI_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Deep linking into another site to complete the transaction. E.g. to bring the customer directly to a page to continue with a purchase of a specific offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderItemType">
		<xs:annotation>
			<xs:documentation>An individually priced item within an Order, made up of one or more Services. May or may not be a selected Offer Item (e.g. non-chargeable Services available on request such as a wheelchair).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrandTotalAmount" type="AmountType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reflects the Differential Total Amount and the Penalty Total Amount, if netted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderItemID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Carrier assigned ID which exists uniquely within an Order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderItemTypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specify the type of Order Item being presented to the Customer.    Using new  PADIS codeset -initial content -RET - Retail -WHO - Wholesale -COR - Corporate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerCode" type="AirlineDesigCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerTypeCode" type="OwnerTypeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether or not the owner is the ORA or POA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReusableInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If Reusable = true, indicates that part of the value of the OrderItem may be reused for reshopping or refund. Exact reusable amount is unknown until Seller requests to reshop or to process a refund for this OrderItem.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Service" type="ServiceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The instance of a specific flight or Service Definition as it has been offered (and eventually ordered and consumed) in the context of a specific Offer and/or Order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebAddressURI" type="URI_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Deep linking into another site to complete the transaction. E.g. to bring the customer directly to a page to continue with a purchase of a specific offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderType">
		<xs:annotation>
			<xs:documentation>A uniquely identified record of the agreement of one party with another to receive products and services under specified terms and conditions. Order supports the sale of a flexible range of airline products and services that are not necessarily Journey based (e.g. subscription services).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrderID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Carrier assigned ID which uniquely identifies a specific Order across several messages.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderItem" type="OrderItemType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An individually priced item within an Order, made up of one or more Services. May or may not be a selected Offer Item (e.g. non-chargeable Services available on request such as a wheelchair).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderVersionNumber" type="OrderVersionNumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Version of the Order used to track the evolution of an Order and the changes made to it.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerCode" type="AirlineDesigCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerTypeCode" type="OwnerTypeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether the owner is the ORA or POA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebAddressURI" type="URI_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Deep linking into another site to complete the transaction. E.g. to bring the customer directly to a page to continue with a purchase of a specific offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OrderVersionNumberType">
		<xs:annotation>
			<xs:documentation>Order version number BDT.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="OwnerTypeCodeContentType">
		<xs:annotation>
			<xs:documentation>Enumeration values for Owner Type BDT. {codeListAgencyName}IATA AIDM{/codeListAgencyName}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="ORA">
				<xs:annotation>
					<xs:documentation>Offer Responsible Airline</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="POA">
				<xs:annotation>
					<xs:documentation>Participating Offer Airline</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OwnerTypeCodeType">
		<xs:annotation>
			<xs:documentation>Specifies the type of Owner for a given Offer/Order/Order Item (E.g. ORA, POA).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="OwnerTypeCodeContentType"/>
	</xs:simpleType>
	<xs:complexType name="PolicyNodeInfoType">
		<xs:annotation>
			<xs:documentation>Policy data node detail, including an XPATH and associated Tag Name.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PathText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Message property location using XPATH syntax.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TagName" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Message property Tag name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PolicyType">
		<xs:annotation>
			<xs:documentation>Message policy information, including PCI, PII information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Desc" type="DescType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An account or representation of the certain or major aspects, characteristics, or features of a person, object, or event.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerName" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Source Entity Name or Code (e.g. BA, WIDGETCO).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyNodeInfo" type="PolicyNodeInfoType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Policy data node detail, including an XPATH and associated Tag Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyTypeText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Policy Type, examples: Policy Type. Examples: Privacy_PII, Payment_PCI, Credentialing</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VersionNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Policy version number. Example: 2.17</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ProperNameType">
		<xs:annotation>
			<xs:documentation>BDT with value constraints for proper, regular names (e.g. Individual Surname, Individual First Name, Company Name, etc.).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RemarkType">
		<xs:annotation>
			<xs:documentation>Additional, supplementary information about the document or service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DisplayInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>When TRUE, this remark should be displayed.  Notes: 1. This capability may not be supported by all NDC-enabled systems or may be supported by bilateral agreement only. The technical implementation of this capability is not dictated by this specification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemarkText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Additional, supplementary information about the document or service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Timestamp" type="DateTimeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Remark creation timestamp.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseType">
		<xs:annotation>
			<xs:documentation>Query results.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InventoryGuarantee" type="InventoryGuaranteeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Identification and time limit information for holding inventory in an Offer or Order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InventoryGuaranteeProcessing" type="InventoryGuaranteeProcessingType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Transaction Processing Results, including processing status, business warnings, supplemental marketing messages and/ or additional information required to complete a transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoGuaranteeInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>When TRUE, no inventory could be guaranteed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Warning" type="WarningType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains information related to potential business errors detected during processing of the preceding request.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceType">
		<xs:annotation>
			<xs:documentation>The instance of a specific flight or Service Definition as it has been offered (and eventually ordered and consumed) in the context of a specific Offer and/or Order.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InventoryGuaranteeDateTime" type="DateTimeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The length of time inventory against a given Service is guaranteed. If inventory is not guaranteed, the Order creation (or change) may fail. In the absence of a time limit, no inventory is guaranteed.   Notes:  The presence of an inventory guarantee does not assume a guarantee of price. For the price to be guaranteed against a given Offer Item, the Price Guarantee Time Limit must also be present.  The assumption is that inventory is held when an Order is created (or changed), so this time limit only applies in the context of an Offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely Identifies a Service within the context of one message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnchangedInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicated that this service is unchanged after reshopping.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShoppingResponseType">
		<xs:annotation>
			<xs:documentation>Facilitates the tracking of what was Offered and contains an identifier unique to the source Airline for a set of product Offers returned in response to a shopping request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OwnerCode" type="AirlineDesigCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShoppingResponseRefID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to unique shopping session response ID, as provided in the airline's previous shopping response.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TextType">
		<xs:annotation>
			<xs:documentation>Text is a character string such as a finite set of characters generally in the form of words of a language.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="URI_Type">
		<xs:annotation>
			<xs:documentation>A string of characters used to identify a resource. Such identification enables interaction with representations of the resource over a network, typically the World Wide Web, using specific protocols.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
	<xs:complexType name="WarningType">
		<xs:annotation>
			<xs:documentation>Contains information related to potential business errors detected during processing of the preceding request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The code corresponding to the processing warning as defined by PADIS 9321.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Free text description of the provided warning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LangCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Language code associated with the warning response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerName" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the organization owning the warning codelist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Document processing status. Recommended values are NotProcessed, Incomplete, Complete, Unknown.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TagText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the tag/XPath which relates to the provided warning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uses a bilaterally agreed set of values to indicate the warning type. The validating XSD can expect to accept values that it has not been explicitly coded for and process them by using Type = 'unknown'.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="URI_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Link to an online description of the provided warning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WarningID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique identifier for this warning instance.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
