schemas/20_1_schemas/IATA_InvGuaranteeRQ.xsd

<?xml version="1.0"?>
<xs:schema xmlns="http://www.iata.org/IATA/2015/00/2020.1/IATA_InvGuaranteeRQ" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2015/00/2020.1/IATA_InvGuaranteeRQ" elementFormDefault="qualified" version="7.000" id="IATA2020.1">
	<xs:element name="IATA_InvGuaranteeRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AugmentationPoint" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Implementer-Augmented Structure.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:any namespace="##other" processContents="lax" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation source="description" xml:lang="en">Implementer-Augmented Structure.</xs:documentation>
								</xs:annotation>
							</xs:any>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MessageDoc" type="MessageDocType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Message document information including document name and version number.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Party" type="PartyType" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>NDC Message/ Transaction Party(s) information. Note that information about parties is intended for business use, it is not intended for transaction authentication and routing of the message.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PayloadAttributes" type="IATA_PayloadStandardAttributesType" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>IATA standard payload attributes</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Request" type="RequestType" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Message request criteria.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AggregatorType">
		<xs:annotation>
			<xs:documentation>An entity who distributes a Seller’s shopping request to multiple Airlines and aggregates subsequent responses.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AggregatorID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier of the aggregator organization.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactInfo" type="ContactInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Aggregator Name. Example: Farelogix.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AirlineDesigCodeContentType">
		<xs:annotation>
			<xs:documentation>The codelist contents of IATA Resolution 762 airline codes, or of ICAO airline codes. {codeListAgencyName}IATA or ICAO{/codeListAgencyName} {codeListName}Resolution 762  Airline Codes or ICAO Airline Codes{/codeListName}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="([A-Z]{3}|[A-Z]{2})|([0-9][A-Z])|([A-Z][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirlineDesigCodeType">
		<xs:annotation>
			<xs:documentation>Either the IATA-defined 2-character code or the ICAO-defined 3-character code of an airline, as per the length of the value.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AirlineDesigCodeContentType"/>
	</xs:simpleType>
	<xs:complexType name="AmountType">
		<xs:annotation>
			<xs:documentation>An amount is a number of monetary units specified in a currency.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="CurCode" type="xs:token" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BookingEntityType">
		<xs:annotation>
			<xs:documentation>Airline or Organization assigning the booking information.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Carrier" type="CarrierType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Org" type="OrgType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An organized structure set up for a particular purpose, such as a business, government body, department, charity, or financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="BookingRefID_Type">
		<xs:annotation>
			<xs:documentation>Booking reference Identifier, also called Record Locator (6 characters).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BookingRefType">
		<xs:annotation>
			<xs:documentation>Information related to a booking or reservation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BookingEntity" type="BookingEntityType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline or Organization assigning the booking information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BookingRefID" type="BookingRefID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Existing booking reference Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BookingRefTypeCode" type="BookingRefTypeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Booking Reference Type. Example: 6 (Passenger confirmation number) Encoding Scheme: IATA Padis Codeset - List for data element [1153] Reference Qualifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BookingRefTypeCodeContentType">
		<xs:annotation>
			<xs:documentation>Booking Reference Type. Example: 6 (Passenger confirmation number) {codeListAgencyName}PADIS{/codeListAgencyName} {codeListName}Reference qualifier{/codeListName} {codeListIdentifier}1153{/codeListIdentifier}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="BookingRefTypeCodeType">
		<xs:restriction base="BookingRefTypeCodeContentType"/>
	</xs:simpleType>
	<xs:complexType name="CarrierType">
		<xs:annotation>
			<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AirlineDesigCode" type="AirlineDesigCodeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactInfo" type="ContactInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DuplicateDesigInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates that the IATA Airline Designator is a duplicate code shared by multiple airlines. To identify the airline - in this case - its name must be specified in addition to the designator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Commercial name of the carrier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CodeType">
		<xs:annotation>
			<xs:documentation>A code is a character string of letters, numbers, special characters (except escape sequences), and symbols.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="ColumnID_Type">
		<xs:annotation>
			<xs:documentation>Specifies a column (e.g. A, B, C, etc.).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:length value="1"/>
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ContactInfoType">
		<xs:annotation>
			<xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactInfoID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely Identifies a set of Contact Information, within the context of one message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactPurposeText" type="TextType" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>to identify the contact purpose (PADIS code list 3299)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactRefusedInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>When TRUE, Contact Information was refused to be provided.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAddress" type="EmailAddressType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Individual" type="IndividualType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A single human being as distinct from a group, class, or family.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndividualRefID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to Individual instance(s)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherAddress" type="OtherAddressType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Other Contact Method information. E.g. web site URL, social media handle.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaxSegmentRefID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies a Passenger Segment within the context of one message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phone" type="PhoneType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A telephone number is a sequence of digits assigned to a fixed-line telephone subscriber station connected to a telephone line or to a wireless electronic telephony device, such as a radio telephone or a mobile telephone, or to other devices for data transmission via the public switched telephone network (PSTN) or other private networks.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalAddress" type="PostalAddressType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Natural or physical address used for postal service. May be a building address, airport address, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelationshipToPax" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Relationship to the passenger e.g. used for when this individual is an emergency contact</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CorporationType">
		<xs:annotation>
			<xs:documentation>A company or group of people authorized to act as a single entity (legally a person) and recognized as such in law.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactInfo" type="ContactInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorporateCodeText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Corporate code assigned to a corporate buyer used for accessing special fares.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorporateID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique identifier of this corporation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IATA_Number" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>IATA issued identification number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Corporation name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCodeContentType">
		<xs:annotation>
			<xs:documentation>The code list of ISO 3166 two-alpha Country Codes {codeListAgencyName}ISO{/codeListAgencyName} {codeListName}3166 two-alpha Country Codes{/codeListName}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCodeType">
		<xs:annotation>
			<xs:documentation>ISO Country Code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CountryCodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="CountryDialingCodeContentType">
		<xs:annotation>
			<xs:documentation>Enumeration set for the Country Dialing Code BDT. {codeListAgencyName}ITU{/codeListAgencyName} {enumerationURI}ITU-T in standards E.123 and E.164{/enumerationURI}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="CountryDialingCodeType">
		<xs:annotation>
			<xs:documentation>Additional BDT to specify the numeric telephone dialing prefixes for the member countries of the International Telecommunication Union (ITU).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CountryDialingCodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="CreditCardVendorCodeContentType">
		<xs:annotation>
			<xs:documentation>ENUM to specify the CC vendor code in case FOID is a Credit Card (e.g. VI, MC, etc).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CreditCardVendorCodeType">
		<xs:annotation>
			<xs:documentation>Additional BDT to specify the CC vendor code in case FOID is a Credit Card.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CreditCardVendorCodeContentType">
			<xs:pattern value="[0-9a-zA-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateTimeType">
		<xs:annotation>
			<xs:documentation>A date time identifies a date and time of day to various common resolutions: year, month, week, day, hour, minute, second, and fraction of second.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:dateTime">
				<xs:attribute name="TimeZoneCode" type="xs:token" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DateType">
		<xs:annotation>
			<xs:documentation>A date is a Gregorian calendar representation in various common resolutions: year, month, week, day.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:complexType name="EmailAddressType">
		<xs:annotation>
			<xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactTypeText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAddressText" type="TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnabledSystemType">
		<xs:annotation>
			<xs:documentation>NDC-enabled system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactInfo" type="ContactInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the enabled system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SystemID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier of the enabled system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="GenderCodeContentType">
		<xs:annotation>
			<xs:documentation>Enumeration set for Gender Code. {codeListAgencyName}ICAO{/codeListAgencyName} {codeListName}Document 9303 Sex of the holder{/codeListName}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="F">
				<xs:annotation>
					<xs:documentation>Female</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>Male</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X">
				<xs:annotation>
					<xs:documentation>Unspecified</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GenderCodeType">
		<xs:annotation>
			<xs:documentation>Additional BDT to specify Gender code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="GenderCodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="IATA_LocationCodeContentType">
		<xs:annotation>
			<xs:documentation>Enumeration set for the Location Code BDT. {codeListAgencyName}IATA{/codeListAgencyName} {codeListName}Location code{/codeListName} {enumerationURI}http://www.iata.org/publications/Pages/code-search.aspx{/enumerationURI}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IATA_LocationCodeType">
		<xs:annotation>
			<xs:documentation>Additional BDT to specify the codeset which defines the IATA airport or city codes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="IATA_LocationCodeContentType"/>
	</xs:simpleType>
	<xs:complexType name="IATA_PayloadStandardAttributesType">
		<xs:annotation>
			<xs:documentation>The IATA_PayloadStdAttributes defines the standard attributes that appear on the root element for all IATA payloads.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AltLangID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorrelationID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Allow end-to-end correlation of log messages with the corresponding Web service message throughout the processing of the Web service message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EchoTokenText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrimaryLangID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifes the primary language preference for the message. The human language is identified by ISO 639 codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetransmissionInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to true) only when a message is retransmitted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeqNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Timestamp" type="DateTimeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates the creation date and time of the message in UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrxID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrxStatusCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This indicates where this message falls within a sequence of messages.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VersionNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>For all IATA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ID_Type">
		<xs:annotation>
			<xs:documentation>An identifier is a character string used to uniquely identify one instance of an object within an identification scheme that is managed by an agency.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="IIN_NumberType">
		<xs:annotation>
			<xs:documentation>Issuer identification number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IndividualType">
		<xs:annotation>
			<xs:documentation>A single human being as distinct from a group, class, or family.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Birthdate" type="DateType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date on which an individual was born.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthplaceText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country Code where the Passenger was born (ISO 3166). For example: DE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GenderCode" type="GenderCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gender of the individual (M, F, or X for unspecified).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GivenName" type="ProperNameType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>A personal name given to the individual at birth and used before a family name. Also called first name. E.g. JOHN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndividualID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely Identifies an Individual within the context of one message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="ProperNameType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Individual's middle name or initial. E.g. G, GEORGE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SuffixName" type="SupplementNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Individual's name suffixes and letters. Examples: Jr., Sr., III, Ret., Esq.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Surname" type="ProperNameType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Individual's hereditary name(s) common to all members of a family. Also known as family name or last name. E.g. SMITH. Excludes any potential suffix.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TitleName" type="SupplementNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A word such as Mr., Mrs., Miss or Dr that is used before an individual's name to indicate the gender, profession or marital status.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IndType">
		<xs:annotation>
			<xs:documentation>An indicator is a list of two mutually exclusive Boolean values that express the only possible states of a property.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="MeasureType">
		<xs:annotation>
			<xs:documentation>A measure is a numeric value determined by measuring an object along with the specified unit of measure.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="UnitCode" type="xs:token" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MessageDocType">
		<xs:annotation>
			<xs:documentation>NDC Message Document information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Implementation Name. Example: ThisAirline Gateway</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefVersionNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Framework Version. Example: SOAP 2015.1</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NameType">
		<xs:annotation>
			<xs:documentation>A name is a word or phrase that constitutes the distinctive designation of a person, place, thing or concept</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="NaturalNumberType">
		<xs:annotation>
			<xs:documentation>A mathematical number used for counting (positive whole number or integer).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberType">
		<xs:annotation>
			<xs:documentation>A mathematical number that is assigned or is determined by calculation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:complexType name="OfferItemType">
		<xs:annotation>
			<xs:documentation>A priced grouping of one or more services within an Offer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OfferItemID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Carrier assigned ID which exists uniquely within an Offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfferItemTypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specify the type of Offer Item being presented to the Customer.    Using new  PADIS codeset -initial content -RET - Retail -WHO - Wholesale -COR - Corporate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerCode" type="AirlineDesigCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerTypeCode" type="OwnerTypeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether or not the owner of this Order is the ORA or POA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriceGuaranteeTimeLimitDateTime" type="DateTimeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The length of time the price of an offer item is guaranteed. In the absence of the price guarantee time limit, the price is not guaranteed. Upon expiry, the price may no longer be guaranteed and either a new shopping process should begin, or the offer should be repriced resulting in a new Offer.   Should the price guarantee time limit extend beyond Order creation (or change), the remaining length of time persists into the corresponding Order Item. At Order creation (or change) the airline can increase the remaining length of time beyond the original time limit should they wish to.  Note: Where a price guarantee time limit is applied, there is no guarantee that related inventory is guaranteed by the airline.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relatedtoexistingOrderItem" type="OrderItemType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An individually priced item within an Order, made up of one or more Services. May or may not be a selected Offer Item (e.g. non-chargeable Services available on request such as a wheelchair).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebAddressURL" type="URI_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Deep linking into another site to complete the transaction. E.g. to bring the customer directly to a page to continue with a purchase of a specific offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OfferItemTypeCriteriaType">
		<xs:annotation>
			<xs:documentation>Filters results based on offer Item Type code</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OfferItemTypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specify the type of Offer Item being presented to the Customer.    Using new  PADIS codeset -initial content -RET - Retail -WHO - Wholesale -COR - Corporate</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OfferType">
		<xs:annotation>
			<xs:documentation>A proposal to sell a specific set of products or Services under specific conditions, for a certain price. Can be the response to a shopping request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OfferID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Carrier assigned ID which uniquely identifies a specific Offer across several messages.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfferItem" type="OfferItemType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A priced grouping of one or more services within an Offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerCode" type="AirlineDesigCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerTypeCode" type="OwnerTypeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether or not the owner of this Order is the ORA or POA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebAddressURL" type="URI_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Deep linking into another site to complete the transaction. E.g. to bring the customer directly to a page to continue with a purchase of a specific offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderItemType">
		<xs:annotation>
			<xs:documentation>An individually priced item within an Order, made up of one or more Services. May or may not be a selected Offer Item (e.g. non-chargeable Services available on request such as a wheelchair).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrandTotalAmount" type="AmountType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reflects the Differential Total Amount and the Penalty Total Amount, if netted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderItemID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Carrier assigned ID which exists uniquely within an Order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderItemTypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specify the type of Order Item being presented to the Customer.    Using new  PADIS codeset -initial content -RET - Retail -WHO - Wholesale -COR - Corporate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerCode" type="AirlineDesigCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerTypeCode" type="OwnerTypeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether or not the owner is the ORA or POA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReusableInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If Reusable = true, indicates that part of the value of the OrderItem may be reused for reshopping or refund. Exact reusable amount is unknown until Seller requests to reshop or to process a refund for this OrderItem.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebAddressURI" type="URI_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Deep linking into another site to complete the transaction. E.g. to bring the customer directly to a page to continue with a purchase of a specific offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderType">
		<xs:annotation>
			<xs:documentation>A uniquely identified record of the agreement of one party with another to receive products and services under specified terms and conditions. Order supports the sale of a flexible range of airline products and services that are not necessarily Journey based (e.g. subscription services).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrderID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Carrier assigned ID which uniquely identifies a specific Order across several messages.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderItem" type="OrderItemType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An individually priced item within an Order, made up of one or more Services. May or may not be a selected Offer Item (e.g. non-chargeable Services available on request such as a wheelchair).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderVersionNumber" type="OrderVersionNumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Version of the Order used to track the evolution of an Order and the changes made to it.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerCode" type="AirlineDesigCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerTypeCode" type="OwnerTypeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether the owner is the ORA or POA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebAddressURI" type="URI_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Deep linking into another site to complete the transaction. E.g. to bring the customer directly to a page to continue with a purchase of a specific offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OrderVersionNumberType">
		<xs:annotation>
			<xs:documentation>Order version number BDT.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:complexType name="Org1Type">
		<xs:annotation>
			<xs:documentation>An organized structure set up for a particular purpose, such as a business, government body, department, charity, or financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the organization</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SalesTaxRegistration" type="SalesTaxRegistrationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Identification and contact information of a party purchasing goods or services as registered with a Purchase Tax.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgType">
		<xs:annotation>
			<xs:documentation>An organized structure set up for a particular purpose, such as a business, government body, department, charity, or financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the organization</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Organization code or identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherAddressType">
		<xs:annotation>
			<xs:documentation>Other Contact Method information. E.g. web site URL, social media handle.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactTypeText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherAddressText" type="TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Other Contact Method Value. Example: www.marketingsite.com</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OwnerTypeCodeContentType">
		<xs:annotation>
			<xs:documentation>Enumeration values for Owner Type BDT. {codeListAgencyName}IATA AIDM{/codeListAgencyName}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="ORA">
				<xs:annotation>
					<xs:documentation>Offer Responsible Airline</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="POA">
				<xs:annotation>
					<xs:documentation>Participating Offer Airline</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OwnerTypeCodeType">
		<xs:annotation>
			<xs:documentation>Specifies the type of Owner for a given Offer/Order/Order Item (E.g. ORA, POA).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="OwnerTypeCodeContentType"/>
	</xs:simpleType>
	<xs:complexType name="ParticipantType">
		<xs:annotation>
			<xs:documentation>Information related to parties relevant to the contents of this message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Aggregator" type="AggregatorType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An entity who distributes a Seller’s shopping request to multiple Airlines and aggregates subsequent responses.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Corporation" type="CorporationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A company or group of people authorized to act as a single entity (legally a person) and recognized as such in law.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnabledSystem" type="EnabledSystemType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>NDC-enabled system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketingCarrier" type="CarrierType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatingCarrier" type="CarrierType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORA" type="CarrierType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POA" type="CarrierType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetailPartner" type="RetailPartnerType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A company that partners with a manufacturer or producer to market and sell the manufacturer's products, services, or technologies.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelAgency" type="TravelAgencyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyType">
		<xs:annotation>
			<xs:documentation>Message/ Transaction Party(s) information. Note that information about parties is intended for business use, it is not intended for transaction authentication and routing of the message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Participant" type="ParticipantType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Information related to parties relevant to the contents of this message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Recipient" type="RecipientType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Information related to the party receiving this message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sender" type="SenderType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Information related to the party sending this message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentCardCriteriaType">
		<xs:annotation>
			<xs:documentation>Payment card specific filter criteria for shopping requests, including card issuer type and identification number.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardBrandCode" type="CreditCardVendorCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A two-letter code assigned according to IATA Resolution 728. Example: VI for Visa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardIssuingCountryCode" type="CountryCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment Card issuing country code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardProductTypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used to specify whether the card is a Consumer (personal) or Commercial (corporate) card.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardTypeCode" type="CreditCardVendorCodeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The two letter payment card type (examples: MC, VI).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuerIdentificationNumber" type="IIN_NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment card IIN/BIN number. Example: 401123</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PhoneType">
		<xs:annotation>
			<xs:documentation>A telephone number is a sequence of digits assigned to a fixed-line telephone subscriber station connected to a telephone line or to a wireless electronic telephony device, such as a radio telephone or a mobile telephone, or to other devices for data transmission via the public switched telephone network (PSTN) or other private networks.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AreaCodeNumber" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone number area code. Example: 813 Note: The phone number can be put unstructured into the phone element or can be put structured into country dialing code, area code, phone number and extension.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactTypeText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryDialingCode" type="CountryDialingCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numeric telephone dialing prefixes for the member countries of the International Telecommunication Union (ITU).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNumber" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone extension number. Example: 1234 Note: The phone number can be put unstructured into the phone element or can be put structured into countrydialing code, area code, phone number and extension.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNumber" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone number text. Examples: +1 999-999-9999 ext 1234,  617-9976 Note: This may be a simple, un-structured phone number, such as +01 999-999-9999 ext 1234 or combined with the additional attributes to create a structured phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddressType">
		<xs:annotation>
			<xs:documentation>Natural or physical address used for postal service. May be a building address, airport address, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BuildingRoomText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Additional address information including building name, room, apartment, or suite number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityName" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name, expressed as text, of the city, town or village.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactTypeText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="CountryCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ISO Country Code (can be extended by bilateral agreement in case of exceptions, e.g. Kosovo). Examples: US, FR.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryName" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name, expressed as text, of the country.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySubDivisionName" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name, expressed as text, of the sub-division of a country.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PO_BoxCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Post office box. Example: P.O. Box 21</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Postal code. Examples: 11001, 11001-2345</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StreetText" type="TextType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Street name and number. Examples: Main Street, 100 Main Street</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProgamContractType">
		<xs:annotation>
			<xs:documentation>An agreement which provides access to discounted or negotiated prices.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContractID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier of the program contract.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProgramAccountType">
		<xs:annotation>
			<xs:documentation>An account which provides access to discounted or negotiated prices.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AccountID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier of the program account.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProgramCriteriaType">
		<xs:annotation>
			<xs:documentation>Discount program specific filter criteria for shopping requests.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyIndexText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Company profile index associated with this special fare. Example: COM1234</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MemberStatusText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Member or participant status within the program (e.g. VP, Director, Exec).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the program.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerCode" type="AirlineDesigCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProgamContract" type="ProgamContractType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An agreement which provides access to discounted or negotiated prices.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProgramAccount" type="ProgramAccountType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An account which provides access to discounted or negotiated prices.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Program type code (e.g. Discount Program, Incentive Program, Pre-paid Program).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PromotionIssuerType">
		<xs:annotation>
			<xs:documentation>Promotion Issuer or Sponsor.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Carrier" type="CarrierType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Org" type="OrgType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An organized structure set up for a particular purpose, such as a business, government body, department, charity, or financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelAgency" type="TravelAgencyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PromotionType">
		<xs:annotation>
			<xs:documentation>Information related to publicizing a product, organization, or venture so as to increase sales or public awareness.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OwnerName" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the Individual to which this Promotion applies.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromotionID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Promotion code ID or number. Example: PROMO123. Used in conjunction with Link (Promotion URL), Issuer (Promotion Owner or Sponsor) and Remarks (Promotion remarks).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromotionIssuer" type="PromotionIssuerType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Promotion Issuer or Sponsor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remark" type="RemarkType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional, supplementary information about the document or service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="URI_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Promotion URL. Example: http://promos.site.com</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ProperNameType">
		<xs:annotation>
			<xs:documentation>BDT with value constraints for proper, regular names (e.g. Individual Surname, Individual First Name, Company Name, etc.).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QtyType">
		<xs:annotation>
			<xs:documentation>A quantity is a counted number of non-monetary units, possibly including fractions</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="RFIC_ContentType">
		<xs:annotation>
			<xs:documentation>Enumeration values for Reason for Issuance codes. {codeListAgencyName}PADIS{/codeListAgencyName} {codeListName}Special condition{/codeListName} {codeListIdentifier}4183{/codeListIdentifier}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RFIC_Type">
		<xs:annotation>
			<xs:documentation>Additional BDT to specify the reason for issuance code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="RFIC_ContentType"/>
	</xs:simpleType>
	<xs:simpleType name="RFISC_ContentType">
		<xs:annotation>
			<xs:documentation>Enumeration values for Reason for Issuance sub codes.  Examples: 0CC (First Checked Bag) 0B1 (In-flight Entertainment) 0BX (Lounge) 0B3 (Meal/ Beverage) 0B5 (Pre-reserved Seat Assignment) 0G6 (Priority Boarding) {codeListAgencyName}ATPCo{/codeListAgencyName} {codeListName}Optional Services Industry Sub Codes{/codeListName}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="RFISC_Type">
		<xs:annotation>
			<xs:documentation>Additional BDT to specify the reason for issuance sub code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="RFISC_ContentType"/>
	</xs:simpleType>
	<xs:complexType name="RecipientType">
		<xs:annotation>
			<xs:documentation>Information related to the party receiving this message.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Aggregator" type="AggregatorType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An entity who distributes a Seller’s shopping request to multiple Airlines and aggregates subsequent responses.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Corporation" type="CorporationType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A company or group of people authorized to act as a single entity (legally a person) and recognized as such in law.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnabledSystem" type="EnabledSystemType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>NDC-enabled system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketingCarrier" type="CarrierType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatingCarrier" type="CarrierType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORA" type="CarrierType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POA" type="CarrierType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetailPartner" type="RetailPartnerType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A company that partners with a manufacturer or producer to market and sell the manufacturer's products, services, or technologies.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelAgency" type="TravelAgencyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RemarkType">
		<xs:annotation>
			<xs:documentation>Additional, supplementary information about the document or service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DisplayInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>When TRUE, this remark should be displayed.  Notes: 1. This capability may not be supported by all NDC-enabled systems or may be supported by bilateral agreement only. The technical implementation of this capability is not dictated by this specification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemarkText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Additional, supplementary information about the document or service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Timestamp" type="DateTimeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Remark creation timestamp.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestType">
		<xs:annotation>
			<xs:documentation>Inventory Guarantee request information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BookingRef" type="BookingRefType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Information related to a booking or reservation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Offer" type="OfferType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A proposal to sell a specific set of products or Services under specific conditions, for a certain price. Can be the response to a shopping request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Order" type="OrderType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A uniquely identified record of the agreement of one party with another to receive products and services under specified terms and conditions. Order supports the sale of a flexible range of airline products and services that are not necessarily Journey based (e.g. subscription services).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Qualifiers" type="ShoppingCriteriaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Further qualifies the flight request by influencing which results are returned in the shopping response, including preferred or required criteria.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShoppingResponse" type="ShoppingResponseType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Facilitates the tracking of what was Offered and contains an identifier unique to the source Airline for a set of product Offers returned in response to a shopping request.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetailPartnerType">
		<xs:annotation>
			<xs:documentation>A company that partners with a manufacturer or producer to market and sell the manufacturer's products, services, or technologies.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactInfo" type="ContactInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Retail partner name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetailPartnerID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique Retailer ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SalesTaxRegistrationType">
		<xs:annotation>
			<xs:documentation>The Identification and contact information of a party purchasing goods or services as registered with a Purchase Tax.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CityName" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name, expressed as text, of the city, town or village.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="CountryCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ISO Country Code (can be extended by bilateral agreement in case of exceptions, e.g. Kosovo). Examples: US, FR.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryDialingCode" type="CountryDialingCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numeric telephone dialing prefixes for the member countries of the International Telecommunication Union (ITU).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySubDivisionName" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name, expressed as text, of the sub-division of a country.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAddressText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNumber" type="TextType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Phone number text. Examples: +1 999-999-9999 ext 1234,  617-9976 Note: This may be a simple, un-structured phone number, such as +01 999-999-9999 ext 1234 or combined with the additional attributes to create a structured phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Postal code. Examples: 11001, 11001-2345</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SalesTaxRegistrationID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Registered identifier of the business purchasing the goods and services. For example, a GST number in India XX.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StreetText" type="TextType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Street name and number. Examples: Main Street, 100 Main Street</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SeatCharacteristicCodeContentType">
		<xs:annotation>
			<xs:documentation>Refers to aircraft seat characteristic codes e.g. A (Aisle seat), E (Exit and emergency exit). See PADIS code list 9825. {codeListAgencyName}PADIS{/codeListAgencyName} {codeListName}Seat characteristic,coded{/codeListName} {codeListIdentifier}9825{/codeListIdentifier}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="SeatCharacteristicCodeType">
		<xs:annotation>
			<xs:documentation>Specifies a Seat Characteristic code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="SeatCharacteristicCodeContentType"/>
	</xs:simpleType>
	<xs:complexType name="SeatType">
		<xs:annotation>
			<xs:documentation>A sitting place for a passenger located in the cabin.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ColumnID" type="ColumnID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Alphabetic character identifying a seat within a row.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RowNumber" type="NaturalNumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ordinal number identifying a seat row in an aircraft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeatCharacteristicCode" type="SeatCharacteristicCodeType" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>Characteristic of an aircraft seat e.g. A (Aisle seat), E (Exit and emergency exit),..., according to PADIS code list 9825.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SenderType">
		<xs:annotation>
			<xs:documentation>Information related to the party sending this message.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Aggregator" type="AggregatorType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An entity who distributes a Seller’s shopping request to multiple Airlines and aggregates subsequent responses.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Corporation" type="CorporationType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A company or group of people authorized to act as a single entity (legally a person) and recognized as such in law.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnabledSystem" type="EnabledSystemType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>NDC-enabled system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketingCarrier" type="CarrierType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatingCarrier" type="CarrierType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORA" type="CarrierType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POA" type="CarrierType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetailPartner" type="RetailPartnerType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A company that partners with a manufacturer or producer to market and sell the manufacturer's products, services, or technologies.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelAgency" type="TravelAgencyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ServiceCriteriaType">
		<xs:annotation>
			<xs:documentation>Reason for Issuance Group and Subgroup code(s) that specify the requested categories of Optional Services to be returned in the results.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IncludeInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>When TRUE, specified service should be included in search results. When FALSE, exclude shopping results including the specified service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RFIC" type="RFIC_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reason For Issuance Code  Examples: A (Air Transportation) C (Baggage) E (Airport Services) F (Merchandise) G (In-flight Services) Refer to PADIS Codeset for data element 4183 - Special Condition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RFISC" type="RFISC_Type" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>Reason For Issuance Sub Code. Examples: 0CC (First Checked Bag) 0B1 (In-flight Entertainment) 0BX (Lounge)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxonomyCode" type="CodeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Used  for  defining  a  product  or  service within  the Shared Industry Taxonomy or bilaterally.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShoppingCriteriaType">
		<xs:annotation>
			<xs:documentation>Further qualifies the flight request by influencing which results are returned in the shopping response, including preferred or required criteria.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LocationCode" type="IATA_LocationCodeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>IATA defined code identifying a city or station. This information may be used for airport associated products, such as an annual lounge pass.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfferItemTypeCriteria" type="OfferItemTypeCriteriaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>there may be multiple offer item types associated with a shopping request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProgramCriteria" type="ProgramCriteriaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Discount program specific filter criteria for shopping requests.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromotionCriteria" type="PromotionType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Information related to publicizing a product, organization, or venture so as to increase sales or public awareness.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeatCriteria" type="SeatType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A sitting place for a passenger located in the cabin.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceCriteria" type="ServiceCriteriaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reason for Issuance Group and Subgroup code(s) that specify the requested categories of Optional Services to be returned in the results.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecialNeedsCriteria" type="SpecialServiceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Special service information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripPurposeCode" type="TripPurposeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Trip purpose information (e.g. Business, Leisure, etc.).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShoppingResponseType">
		<xs:annotation>
			<xs:documentation>Facilitates the tracking of what was Offered and contains an identifier unique to the source Airline for a set of product Offers returned in response to a shopping request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OwnerCode" type="AirlineDesigCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShoppingResponseRefID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to unique shopping session response ID, as provided in the airline's previous shopping response.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialServiceType">
		<xs:annotation>
			<xs:documentation>Special service information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddlDataMeasure" type="MeasureType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides additional supporting measurement information in case the Special Service requires it.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreeText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Free text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Qty" type="QtyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A quantity is a counted number of non-monetary units, possibly including fractions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecialServiceCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Code that identifies the special service.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SupplementNameType">
		<xs:annotation>
			<xs:documentation>BDT with value constraints for short supplements to proper names, such as Title, Suffix, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TextType">
		<xs:annotation>
			<xs:documentation>Text is a character string such as a finite set of characters generally in the form of words of a language.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="TravelAgencyType">
		<xs:annotation>
			<xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgencyID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique Agency Seller ID. Example: CTRV</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactInfo" type="ContactInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IATA_Number" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>IATA-assigned agency number. Example: 98417900</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agency name. Example: Carson Travel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PseudoCityID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An identifier for a corporate user of a computer reservation system (CRS) or global distribution system (GDS), typically a travel agency. Also known as Office ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelAgent" type="TravelAgentType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A private retailer or public service individual that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="TravelAgencyTypeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agency type code. Examples TravelAgency, OnlineTravelAgency, or TravelManagementCompany.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TravelAgencyTypeCodeContentType">
		<xs:annotation>
			<xs:documentation>Agency/ Agent Identification Type. {codeListAgencyName}PADIS{/codeListAgencyName} {codeListName}Identification type{/codeListName} {codeListIdentifier}9893{/codeListIdentifier}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="OnlineTravelAgency"/>
			<xs:enumeration value="TravelAgency"/>
			<xs:enumeration value="TravelManagementCompany"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TravelAgencyTypeCodeType">
		<xs:annotation>
			<xs:documentation>Additional BDT to specify travel agency type codes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TravelAgencyTypeCodeContentType"/>
	</xs:simpleType>
	<xs:complexType name="TravelAgentType">
		<xs:annotation>
			<xs:documentation>A private retailer or public service individual that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TravelAgentID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Booking and Servicing Agent information. ID. Example: 98417900 Note: The ID correlates to the specified ID Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="TravelAgencyTypeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agency/ Agent Identification Type. Example: B - Booking Agent</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TripPurposeCodeContentType">
		<xs:annotation>
			<xs:documentation>Enumeration set for the trip purpose code Type BDT.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Business"/>
			<xs:enumeration value="BusinessAndLeisure"/>
			<xs:enumeration value="Leisure"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TripPurposeCodeType">
		<xs:annotation>
			<xs:documentation>Trip purpose code Type BDT.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TripPurposeCodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="URI_Type">
		<xs:annotation>
			<xs:documentation>A string of characters used to identify a resource. Such identification enables interaction with representations of the resource over a network, typically the World Wide Web, using specific protocols.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
</xs:schema>
