schemas/20_1_schemas/IATA_PaymentClearanceListRS.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.iata.org/IATA/2015/00/2020.1/IATA_PaymentClearanceListRS" elementFormDefault="qualified" version="1.000" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/00/2020.1/IATA_PaymentClearanceListRS">
<xs:element name="IATA_PaymentClearanceListRS">
<xs:annotation>
<xs:documentation>The ClearanceList transaction set retrieves a list of Clearances that match one or more search criteria.
This clearance related message is about the flow of money and it cannot, under any circumstances, be used, treated or considered as legal invoice. </xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:choice minOccurs="1" maxOccurs="1">
<xs:element name="Clearance" type="ClearanceType" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>the delivery of funds from one party - payer- to another party - the payee - to fulfill contractual obligations, i.e. commitment between the two parties.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Error" type="ErrorType" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Contains information related to errors detected during processing of the preceding request.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:element name="PayloadStandardAttributes" type="IATA_PayloadStandardAttributesType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>The IATA_PayloadStdAttributes defines the standard attributes that appear on the root element for all IATA payloads.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="AgreementType">
<xs:annotation>
<xs:documentation>Record of agreement between parties for exchange of value under specified terms and conditions.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="AgreementID" type="ID_Type" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>This is the identifier of the agreement that is the foundation for the clearance being processed. In One Order and NDC this is the 'Order ID'. Carrier assigned identifier, which uniquely identifies a specific Order across several messages. </xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AirlineDesigCodeContentType">
<xs:annotation>
<xs:documentation>The codelist contents of IATA Resolution 762 airline codes, or of ICAO airline codes. {codeListAgencyName}IATA or ICAO{/codeListAgencyName} {codeListName}Resolution 762 Airline Codes or ICAO Airline Codes{/codeListName} </xs:documentation>
</xs:annotation>
<xs:restriction base="xs:token">
<xs:pattern value="([A-Z]{3}|[A-Z]{2})|([0-9][A-Z])|([A-Z][0-9])"></xs:pattern>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AirlineDesigCodeType">
<xs:annotation>
<xs:documentation>Either the IATA-defined 2-character code or the ICAO-defined 3-character code of an airline, as per the length of the value.</xs:documentation>
</xs:annotation>
<xs:restriction base="AirlineDesigCodeContentType"></xs:restriction>
</xs:simpleType>
<xs:simpleType name="AirlineRefID_Type">
<xs:annotation>
<xs:documentation>Airline Reference identifier is a character string that is managed by the carrier.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:token">
<xs:pattern value="([A-Za-z0-9]{1,15})"></xs:pattern>
<xs:minLength value="1"></xs:minLength>
<xs:maxLength value="15"></xs:maxLength>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AmountType">
<xs:annotation>
<xs:documentation>An amount is a number of monetary units specified in a currency.</xs:documentation>
</xs:annotation>
<xs:simpleContent>
<xs:extension base="xs:decimal">
<xs:attribute name="CurCode" type="xs:token" use="required"></xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="CarrierType">
<xs:annotation>
<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 </xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="AirlineAccountingCode" type="CodeType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>IATA assigned numerical code of three digits only. Used to identify airlines for the purpose of financial reporting and settlement.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AirlineDesigCode" type="AirlineDesigCodeType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Commercial name of the carrier.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CashType">
<xs:annotation>
<xs:documentation>Any payment that is collected by the agent and settled between the Airline and the agent. Refer to IATA Resolution 728 Attachment A for full details.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="NetClearanceAmount" type="AmountType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>The amount agreed to be cleared in the Agreement between the two parties to the Agreement. It is obtained from the Commitment in the Agreement. The value of the Net Clearance Amount in the Payment Commitment of the Agreement can be either positive [+] or negative [-]. If it is positive [+] then the party initiating the clearance request will be the Payee in the clearance, i.e. the initiator of the clearance is to receive funds. If it is negative [-] then the party initiating the clearance request will be the Payer in the clearance, i.e. the initiator of the clearance has to pay-out funds. It is the absolute value of the Net Clearance Amount that is used in the Clearance.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RemittanceDate" type="DateType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>This is the date when the Payer will have to transfer the amount in the clearance request into the settlement manager's bank account. </xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ClearanceID_Type">
<xs:annotation>
<xs:documentation>Clearance identifier is a character string managed by a carrier.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:token">
<xs:pattern value="([0-9]{7}[A-Za-z0-9]{8})"></xs:pattern>
<xs:length value="15"></xs:length>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ClearanceProcessRuleCodeType">
<xs:annotation>
<xs:documentation>Character string of letters and numbers to describe the governance for the Clearance process.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:token">
<xs:pattern value="(IATAC|BLTRL)[A-Za-z0-9]{2}"></xs:pattern>
<xs:length value="7"></xs:length>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ClearanceStatusCodeType">
<xs:annotation>
<xs:documentation>Clearance Status code is a character string of letters and numbers.
 </xs:documentation>
</xs:annotation>
<xs:restriction base="xs:token">
<xs:pattern value="[A-Za-z0-9]{5}"></xs:pattern>
<xs:length value="5"></xs:length>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ClearanceType">
<xs:annotation>
<xs:documentation>the delivery of funds from one party - payer- to another party - the payee - to fulfill contractual obligations, i.e. commitment between the two parties.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="AirlineRefID" type="AirlineRefID_Type" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>identifier provided by the carrier to support internal financial processes, for example reconciliation.
 If this identifier is included in the clearance request from the carrier then it must be included in all messages thereafter where it is provided as an option.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ClearanceID" type="ClearanceID_Type" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>this is an identifier, generated by the party requesting the clearance, which uniquely identifies the clearance transaction. It provides the necessary link for financial audit connecting the sale to the financial records. This field is required because no other existing data element could be used by the financial systems or could provide unique identification. The identifier is globally unique for the clearance by design.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CommitmentToPay" type="CommitmentToPayType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Commitment to settle a transaction through monetary or other compensations. This is the trigger to request clearance and it refers to the commitment to make payment within the agreement.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="NonSettledAmount" type="AmountType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>amount of the Net Clearance Amount in the individual clearance that remains to be cleared. 
 The amount in the NonSettledAmount is defined by the value in the data element StatusCode. When the value of the StatusCode is Write off (WRTOF) then the value in the data element NonSettledAmount is the value that is being written off. For all other values of the data element StatusCode the value of the data element NonSettledAmount represents what is the remaining amount to be cleared.
 NonSettledAmount must be included in all messages where it is provided as an option when its value is neither 0 (zero) nor equal to NetClearanceAmount
 </xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Payee" type="PayeeType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>the party receiving funds as a result of a clearance for a claim it has made.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Payer" type="PayerType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>the party paying funds to clear claims against itself.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ProcessRuleCode" type="ClearanceProcessRuleCodeType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>defines under what governing rules the Settlement Manager processes the clearance.
 example: IATAC00 or BLTRL00</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Settlement" type="SettlementType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>an act that discharges obligations in respect of funds or securities transfers between two or more parties.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="StatusCode" type="ClearanceStatusCodeType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>the progress of the individual transaction within the settlement process. Transaction is first acknowledged, then in process, then settled or could have status 'clawback', 'partially settled', 'final settlement' or 'write off'.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CodeType">
<xs:annotation>
<xs:documentation>A code is a character string of letters, numbers, special characters (except escape sequences), and symbols.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:token">
<xs:maxLength value="35"></xs:maxLength>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CommitmentToPayType">
<xs:annotation>
<xs:documentation>Commitment to settle a transaction through monetary or other compensations. This is the trigger to request clearance and it refers to the commitment to make payment within the agreement.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="Agreement" type="AgreementType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Record of agreement between parties for exchange of value under specified terms and conditions.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CommitmentID" type="ID_Type" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>this is the identifier of the payment commitment within the agreement. In One Order and NDC this is the 'PaymentID' of the 'PaymentProcessingSummary'. 
 In releases prior to 19.2 it is the 'PaymentInfoID' of the 'PaymentInfo', where it is available. </xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PaymentCommitmentDateTime" type="DateTimeType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>defines the date when the PaymentProcessingSummary, with information about amount and payment method, is accepted by ORA to be sufficient to lead to successful payment.
 This is the date when the status in the 'Payment Status Code' is set to 'SUCCESSFUL' </xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PaymentMethod" type="PaymentMethodType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>A form of procedure for the payment of goods or services plus any transactional information specific to the payment method other than the amount.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="TypeCode" type="PaymentMethodCodeType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>this is the payment method type agreed between the two parties in the clearance request, which will be used for the transfer of funds. Currently this method can be either Cash or eWallet.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DateTimeType">
<xs:annotation>
<xs:documentation>A date time identifies a date and time of day to various common resolutions: year, month, week, day, hour, minute, second, and fraction of second.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:dateTime"></xs:restriction>
</xs:simpleType>
<xs:simpleType name="DateType">
<xs:annotation>
<xs:documentation>A date is a Gregorian calendar representation in various common resolutions: year, month, week, day.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:date"></xs:restriction>
</xs:simpleType>
<xs:complexType name="ErrorType">
<xs:annotation>
<xs:documentation>Error(s) that prevented message processing or response to be generated.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="Code" type="CodeType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>The code corresponding to the processing error as defined by PADIS 9321.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DescText" type="TextType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Free text description of the provided error.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ErrorID" type="ID_Type" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Unique identifier for this error instance.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LangCode" type="CodeType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Language code associated with the error response.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="OwnerName" type="ProperNameType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>The name of the organization owning the error codelist.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="StatusText" type="TextType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Document processing status. Recommended values are NotProcessed, Incomplete, Complete, Unknown.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="TagText" type="TextType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Identifies the tag/XPath which relates to the provided Error.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="TypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Uses a bilaterally agreed set of values to indicate the error type. The validating XSD can expect to accept values that it has not been explicitly coded for and process them by using Type = 'unknown'.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="URL" type="URI_Type" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Link to an online description of the provided Error.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="EWalletType">
<xs:annotation>
<xs:documentation>payment that is facilitated through virtual wallet, where the paying party has deposited funds and the payee is receiving the payment from the wallet rather than the party committing to the payment.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="AuthorizationID" type="ID_Type" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Authorization string provided by a third party that is not a party to the Agreement or the Payment Commitment of the Agreement, confirming that the committed funds have been secured or will be secured from the payer.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="NetClearanceAmount" type="AmountType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>The amount agreed to be cleared in the Agreement between the two parties to the Agreement. It is obtained from the Commitment in the Agreement. The value of the Net Clearance Amount in the Payment Commitment of the Agreement can be either positive [+] or negative [-]. If it is positive [+] then the party initiating the clearance request will be the Payee in the clearance, i.e. the initiator of the clearance is to receive funds. If it is negative [-] then the party initiating the clearance request will be the Payer in the clearance, i.e. the initiator of the clearance has to pay-out funds. It is the absolute value of the Net Clearance Amount that is used in the Clearance.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IATA_PayloadStandardAttributesType">
<xs:annotation>
<xs:documentation>The IATA_PayloadStdAttributes defines the standard attributes that appear on the root element for all IATA payloads.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="AltLangID" type="ID_Type" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CorrelationID" type="ID_Type" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Allow end-to-end correlation of log messages with the corresponding Web service message throughout the processing of the Web service message.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EchoTokenText" type="TextType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PrimaryLangID" type="ID_Type" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Identifes the primary language preference for the message. The human language is identified by ISO 639 codes.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RetransmissionInd" type="IndType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to true) only when a message is retransmitted.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SeqNumber" type="NumberType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Timestamp" type="DateTimeType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Indicates the creation date and time of the message in UTC.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="TrxID" type="ID_Type" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="TrxStatusCode" type="CodeType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>This indicates where this message falls within a sequence of messages.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="VersionNumber" type="NumberType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>For all IATA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ID_Type">
<xs:annotation>
<xs:documentation>An identifier is a character string used to uniquely identify one instance of an object within an identification scheme that is managed by an agency.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:token">
<xs:maxLength value="35"></xs:maxLength>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IndType">
<xs:annotation>
<xs:documentation>An indicator is a list of two mutually exclusive Boolean values that express the only possible states of a property.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:boolean"></xs:restriction>
</xs:simpleType>
<xs:simpleType name="NameType">
<xs:annotation>
<xs:documentation>A name is a word or phrase that constitutes the distinctive designation of a person, place, thing or concept</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:token"></xs:restriction>
</xs:simpleType>
<xs:simpleType name="NumberType">
<xs:annotation>
<xs:documentation>A mathematical number that is assigned or is determined by calculation.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:decimal"></xs:restriction>
</xs:simpleType>
<xs:complexType name="OrgType">
<xs:annotation>
<xs:documentation>An organized structure set up for a particular purpose, such as a business, government body, department, charity, or financial institution.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Name of the organization</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="OrgID" type="ID_Type" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Organization code or identifier.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PayeeType">
<xs:annotation>
<xs:documentation>the party receiving funds as a result of a clearance for a claim it has made.</xs:documentation>
</xs:annotation>
<xs:choice>
<xs:element name="Carrier" type="CarrierType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 </xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Org" type="OrgType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>An organized structure set up for a particular purpose, such as a business, government body, department, charity, or financial institution.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="TravelAgency" type="TravelAgencyType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:complexType>
<xs:complexType name="PayerType">
<xs:annotation>
<xs:documentation>the party paying funds to clear claims against itself.</xs:documentation>
</xs:annotation>
<xs:choice>
<xs:element name="Carrier" type="CarrierType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 </xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Org" type="OrgType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>An organized structure set up for a particular purpose, such as a business, government body, department, charity, or financial institution.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="TravelAgency" type="TravelAgencyType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:complexType>
<xs:simpleType name="PaymentMethodCodeContentType">
<xs:annotation>
<xs:documentation>The form of payment type. Examples: Credit Card, Cash. {codeListAgencyName}PADIS{/codeListAgencyName} {codeListName}Form of payment identification{/codeListName} {codeListIdentifier}9888{/codeListIdentifier} </xs:documentation>
</xs:annotation>
<xs:restriction base="xs:token"></xs:restriction>
</xs:simpleType>
<xs:simpleType name="PaymentMethodCodeType">
<xs:annotation>
<xs:documentation>Additional BDT to specify payment method code.</xs:documentation>
</xs:annotation>
<xs:restriction base="PaymentMethodCodeContentType"></xs:restriction>
</xs:simpleType>
<xs:complexType name="PaymentMethodType">
<xs:annotation>
<xs:documentation>A form of procedure for the payment of goods or services plus any transactional information specific to the payment method other than the amount.</xs:documentation>
</xs:annotation>
<xs:choice>
<xs:element name="Cash" type="CashType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Any payment that is collected by the agent and settled between the Airline and the agent. Refer to IATA Resolution 728 Attachment A for full details.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EWallet" type="EWalletType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>payment that is facilitated through virtual wallet, where the paying party has deposited funds and the payee is receiving the payment from the wallet rather than the party committing to the payment.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:complexType>
<xs:simpleType name="ProperNameType">
<xs:annotation>
<xs:documentation>BDT with value constraints for proper, regular names (e.g. Individual Surname, Individual First Name, Company Name, etc.).</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:token">
<xs:minLength value="1"></xs:minLength>
<xs:maxLength value="64"></xs:maxLength>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SettlementType">
<xs:annotation>
<xs:documentation>an act that discharges obligations in respect of funds or securities transfers between two or more parties.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="Date" type="DateType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>the date when the Settlement Manager will settle the funds to the Payee. This is the date when the Settlement Manager orders the bank transfer to the Payee's bank account.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TextType">
<xs:annotation>
<xs:documentation>Text is a character string such as a finite set of characters generally in the form of words of a language.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string"></xs:restriction>
</xs:simpleType>
<xs:complexType name="TravelAgencyType">
<xs:annotation>
<xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="IATA_Number" type="NumberType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>IATA-assigned agency number. Example: 98417900</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" type="ProperNameType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Agency name. Example: Carson Travel</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="URI_Type">
<xs:annotation>
<xs:documentation>A string of characters used to identify a resource. Such identification enables interaction with representations of the resource over a network, typically the World Wide Web, using specific protocols.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:anyURI"></xs:restriction>
</xs:simpleType>
</xs:schema>
